fastapi==0.110.1
gym==0.26.2
gym-notices==0.0.8
numpy==1.26.4
opencv-python==4.9.0.80
pygame==2.5.2
torch==2.2.2
torchaudio==2.2.2
torchvision==0.17.2
typing_extensions==4.11.0
tqdm==4.66.2
uvicorn==0.29.0

